<a href="https://colab.research.google.com/github/podongx2somm/coading_TEST/blob/main/%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%A8%B8%EC%8A%A4_%EB%AC%B8%EC%A0%9C%ED%92%80%EC%9D%B4/LEVEL1/0801.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 달리기 경주

* 문제 설명 : 얀에서는 매년 달리기 경주가 열립니다. 해설진들은 선수들이 자기 바로 앞의 선수를 추월할 때 추월한 선수의 이름을 부릅니다. 예를들어 1등부터 3등까지 "mumu", "soe", "poe"선수들이 순서대로 달리고 있을 때, 해설진이 "seo"선수를 불렀다면 2등인 "soe"선수가 1등인 "mumu"선수를 추월했다는 것입니다. 즉 "soe"선수가 1등, "mumu"선수가 2등으로 바뀝니다.

* 문제 풀이 시간 : 5:54~

In [8]:
# 시간초과
players = ["mumu", "soe", "poe", "kai", "mine"]
callings = ["kai", "kai", "mine", "mine"]
for cal in callings:
  if cal in players:
    key = players.index(cal)
    players[key-1], players[key] = players[key], players[key-1]
players

['mumu', 'kai', 'mine', 'soe', 'poe']

In [9]:
# 딕셔너리를 통해 idx 찾는 시간 단축하기
result = {player: i for i, player in enumerate(players)}
result

{'mumu': 0, 'kai': 1, 'mine': 2, 'soe': 3, 'poe': 4}

In [12]:
def solution(players, callings):
    pla_dic = {key: i for i, key in enumerate(players)}

    for p in callings:
        c = pla_dic[p]
        pla_dic[p] -= 1
        pla_dic[players[c-1]] += 1
        players[c-1], players[c] = players[c], players[c-1]

    return players

# 추억 점수

* 문제 설명 : 사진들을 보며 추억에 젖어 있던 루는 사진별로 추억 점수를 매길려고 합니다. 사진 속에 나오는 인물의 그리움 점수를 모두 합산한 값이 해당 사진의 추억 점수가 됩니다. 예를 들어 사진 속 인물의 이름이 ["may", "kein", "kain"]이고 각 인물의 그리움 점수가 [5점, 10점, 1점]일 때 해당 사진의 추억 점수는 16(5+10+1)점이 됩니다. 다른 사진 속 인물의 이름이 ["kail", "mari", "don", "tony"]이고 ["kali", "mari", "don"]의 그리움 점수가 각각 11, 1, 55점이고, tony는 그리움 점수가 없을 때, 이사진의 추억 점수는 3명의 그리움 점수를 합한 67(11 + 1+ 55) 점 입니다.

In [18]:
name = ["kali", "mari", "don"]
yearning = [11, 1, 55]
photos = {person : score for score, person in zip(yearning, name)}
photos

{'kali': 11, 'mari': 1, 'don': 55}

In [19]:
result = []
photo = [["kali", "mari", "don"], ["pony", "tom", "teddy"], ["con", "mona", "don"]]
for i in photo:
  sum = 0
  for p in i:
    if p in name:
      sum += photos[p]
  result.append(sum)

result

[67, 0, 55]